* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #128C7E 0%,
        #128C7E 15%, 
        #090e11 15%, 
        #090e11 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/*UTILITIES*/

a {
    color: #b7cad2;
}

img,
i {
    cursor: pointer;
}


/* LAYOUT */
.container {
    color: #fff;
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #131c21;
}

/*ASIDE*/
.side {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.side-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a2f32;
    border-right: 1px solid #b8b8b8;
}

/* AVATAR */
.avatar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar img,
.icon-bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar span {
    margin-left: 10px;    
}

.avatar.active {
    background:#323739;
}

/* ICONS */
.icon {
    position: relative;
}

.icon i {
    padding-right: 20px;
    font-size: 20px;
    color: #b8b8b8;
}

.icon .dropdown-menu {
    position: absolute;
    top: 200%;
    right: 20px;
    width: 170px;
    filter: drop-shadow(0 0 5px rgba(0,0,0, .2));
    background: #2a2f32;
    border-radius: 5px;
}

.icon .dropdown-menu li {
    list-style: none;
    padding: 15px;
}

.icon .dropdown-menu a {
    text-decoration: none;
    color: inherit;
}

.icon .dropdown-menu li:hover {
    background: rgba(0,0,0, .1);
}
/* BANNER NOTIFICATIONS */
.act-notif {
    display: flex;
    align-items: center;
    background: #085373;
    padding: 15px;
}

.icon-bell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8eb2be;
    color: #085373;
    font-size: 20px;
    margin-right: 10px;
}

/* SEARCHBAR */
.searchbar {
    background: #131c21;
    
}

.sub-searchbar {
    display: flex;
    padding: 10px;
}

.sub-searchbar button,
.chat-search,
.write-messagge {
    outline: none;
    background: #323739;
    color: inherit;
    border: none;
}

.sub-searchbar button {
    flex-basis: 15%;
    cursor: pointer;
    padding: 5px;
    color: #b8b8b8;
    font-size: 16px;
}

.sub-searchbar .chat-search {
    flex-grow: 1;
    padding-left: 8px;
}

/* CHAT LIST */
.chat-list .avatar {
    padding: 10px;
    border-bottom: 1px solid #323739;
    cursor: pointer;
}

.chat-list .avatar:first-child:focus,
.chat-list .avatar:hover {
    background:#33383b;
}

.chat-list {
    overflow-y: auto;
}

.chat-list .avatar:last-child {
    border: 0;
}

.chat-list img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}


/*MAIN CONTENT*/
.content {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.content-header .avatar .status {
    margin-left: 10px;
}

.content-header .avatar .status h5 {
    color: #767d80;
    margin-top: 5px;
}

.content-main {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    filter: invert();
    overflow-y: auto;
    padding-top: 40px;
}

/* CHAT MESSAGE*/

.messageSent {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message-box {
    margin: 10px 100px 0;
    width: 350px;
    padding: 15px;
    background: #fa9d9d;
    color: #000;
    border-radius: 10px;
}

.messageReceived{
    background: #d9d2ce;
}

.clock {
    color: #0c0c0c;
    font-size: 10px;
    display: flex;
    justify-content: end;
}



.content-header,
.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #262d31;
}


/*FOOTER*/
.content-footer {
    position: relative;
    padding: 10px;
}

.content-footer i{
    font-size: 30px;
    margin: 0 30px;
    color: #b8b8b8;
    cursor: pointer;;
    background: #262d31;
}

/* EMOJI */
.content-footer .drop-emoji {
    position: absolute;
    bottom: 76px;
    right: 0px;
    width: 100%;
    height: 200px;
    background: #262d31;
}

.content-footer .drop-emoji li{
    list-style: none;
    display: inline;
    font-size: 20px;
    cursor: pointer;
}

/* WRITE MESSAGE */
.write-messagge {
    flex-grow: 1;
    padding: 20px;
    border-radius: 30px;
}
