<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DARK MODE -->
    <link rel="stylesheet" href="./css/dark.css">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Boolzapp</title>
</head>
<body>

    <div id="app" class="container">
        <!-- ASIDE -->
        <aside class="side">
            <div class="side-head">
                <div class="avatar">
                    <img src="./img/avataaars.png" alt="">
                    <span>Mauro</span>
                </div>
                <div class="icon">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"
                    @click="showMenu"></i>
                    <!-- DROPDOWN MENU' -->
                    <ul class="dropdown-menu"
                    v-if="dropMenu"
                    >
                        <li>
                            <a href="#">Nuovo gruppo</a>
                        </li>
                        <li>
                            <a href="#">Crea una stanza</a>
                        </li>
                        <li>
                            <a href="#">Profilo</a>
                        </li>
                        <li>
                            <a href="#">Archiviate</a>
                        </li>
                        <li>
                            <a href="#">Importanti</a>
                        </li>
                        <li>
                            <a href="#">Impostazioni</a>
                        </li>
                        <li>
                            <a href="./index.html">Light Mode</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- NOTIFICATION -->
            <div class="act-notif">
                <div class="icon-bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="text">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                    <div class="link">
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
            </div>

            <!-- SEARCHBAR -->
            <div class="searchbar">
                <div class="sub-searchbar">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    <input class="chat-search" type="text"
                    placeholder="Cerca o inizia una nuova chat"
                    v-model.trim="searchText"
                    @keyup="searchIncludes"
                    >
                </div>
            </div>
            <!-- CHAT-LIST -->
            <div class="chat-list">
                <div class="avatar"
                v-for="(nome, index) in contact"
                :class=" {active: index == indexMessage}"
                v-if="nome.visible"
                @click="setChat(index)">
                    <img :src="`./img/avatar${nome.avatar}.jpg`" alt="">
                    <span>{{ nome.name }}</span>
                </div>
            </div>
        </aside>

        <!-- MAIN CONTENT -->
        <main class="content">
            <!-- CONTENT HEADER -->
            <section class="content-header">
                <div class="avatar"
                v-for="(nome, index) in contact"
                v-if="index == indexMessage"
                >
                    <img :src="`./img/avatar${nome.avatar}.jpg`" alt="">
                    <div class="status">
                        <h4>{{ nome.name }}</h4>
                        <h5>Ultimo accesso oggi alle 10:30</h5>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>
            <!-- CONTENT MAIN -->
            <section class="content-main">
                <div 
                v-for="messaggi in contact[indexMessage].messages"
                :class="{messageSent: messaggi.status == 'sent'}"
                >
                   <div class="message-box"
                   v-if="messaggi.status == 'sent'"
                   >
                    <span> {{ messaggi.message }} </span>
                    <div class="clock">
                        {{ messaggi.date}}
                    </div>
                   </div>
                   <div class="message-box"
                   :class="{messageReceived: messaggi.status == 'received'}"
                   v-if="messaggi.status == 'received'"
                   >
                    <span> {{ messaggi.message }} </span>
                    <div class="clock">
                        {{ messaggi.date }}
                    </div>
                   </div>
                </div>
            </section>

            <!-- CONTENT FOOTER -->
            <section class="content-footer">
                <!-- EMOJI -->
                <ul class="drop-emoji"
                     
                     v-if="emojiShow"
                >
                    <li v-for="(emoticon,index) in emoji"
                    @click="addEmoji(index)"
                    >
                        {{ emoticon }}
                    </li>
                </ul>
                <i class="far fa-grin-beam"
                    @click="showEmojiMenu"
                ></i>
                <input type="text"
                class="write-messagge"
                placeholder="Scrivi un messaggio"
                v-model.trim="newMessage"
                @keyup.enter="addMessage"
                ref="inputMessage"
                >
                <i class="fas fa-microphone"></i>
            </section>
        </main>
    </div>




     <!-- DATA JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!-- PLUGINS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/customParseFormat.js"></script>
    <!-- JS -->
    <script src="./js/contatti.js"></script>
</body>
</html>